/* Styles go here */
body,h1,h2,h3,h4,h5,h6,span,a {font-family: "Raleway", sans-serif;}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("./blockchain2.jpg");
  min-height: 100%;
  width: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.button{
  background:  url('./plus_icon.png');
}

.account-style {
	width: 600px;
	margin: 0 auto;
	padding-top: 1.8em;
	padding-top:  min(170px);
}
/*<List list={ this.state.list } credentials_list={ this.state.credentials_list } 
            pushParts={ this.pushParts } pushCredentials={ this.pushCredentials } count={this.state.count}/>*/
